::selection {
  background: yellow;
  color: purple;
}

:root {
  background-color: mediumorchid;
  background-image: radial-gradient(plum, orchid, orange);
  color: black;
}

:any-link {
  color: indigo;
  background-color: transparent;
}

:focus {
  background-color: blueviolet;
  color: plum;
  outline: 1rem groove indigo;
}

a:hover {
  color: indigo;
  background-color: skyblue;
}
